:root {
  --bg-primary-color: #111;
  --bg-secondary-color: #1c1c1c;
  --bg-active-color: #eee;
  --bg-danger-color: #e53935;
  --bg-success-color: #2e7d32;

  --text-primary-color: #fff;
  --text-secondary-color: #aaa;

  --padding-sm: 0.5rem;
  --padding-lg: 1.2rem;
  --padding-2xl: 3rem;

  --gutter-md: 1rem;
  --gutter-lg: 1.5rem;

  --border-radius-md: 6px;
  --border-radius-lg: 10px;
}
